bin/
obj/
node_modules/
dist/
build/
.idea/
.DS_Store

.vs/
.vscode/
*.swp
*.swo
*.DotSettings.user

Thumbs.db

*.sln.iml

src/WebApi/appsettings.json
**/appsettings.*.json

info.md


.env
.env.local
.env.*.local


docker-compose.override.yml 